<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left"></ion-nav-buttons>
        <ion-nav-title class=" light" data-comp-id="nav-title.1">ILO Dashboard</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div class="row" data-comp-id="row.1">
            <div class="col" data-comp-id="column.1"></div>
        </div>
    </ion-content>
</ion-view>