<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left"></ion-nav-buttons>
        <ion-nav-title class=" light" data-comp-id="nav-title.1">ILO Dashboard</ion-nav-title>
        <ion-nav-buttons side="right"></ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class=" calm-bg" data-comp-id="ionic-content.1">
        <div class="row" data-comp-id="row.1">
            <div class="col" data-comp-id="column.1">
                <div class=" text-center" data-comp-id="text.1"
                    ng-bind="&quot;Total target: &quot; + data.totalTarget"
                    style="font-size: 36px; font-weight: bold;">Some text</div>
            </div>
        </div>
        <div class="row" data-comp-id="row.4">
            <div class="col" data-comp-id="column.4"></div>
        </div>
        <div class="row" data-comp-id="row.6">
            <div class="col" data-comp-id="column.6"></div>
        </div>
        <div class="row" data-comp-id="row.2">
            <div class="col" data-comp-id="column.2">
                <div class=" text-center" data-comp-id="text.2"
                    ng-bind="&quot;Total Act: &quot; + data.totalAct"
                    style="font-size: 36px; font-weight: bold;">Some text</div>
            </div>
        </div>
        <div class="row" data-comp-id="row.5">
            <div class="col" data-comp-id="column.5"></div>
        </div>
        <div class="row" data-comp-id="row.7">
            <div class="col" data-comp-id="column.7"></div>
        </div>
        <div class="row" data-comp-id="row.3">
            <div class="col" data-comp-id="column.3">
                <div class=" text-center" data-comp-id="text.3"
                    ng-bind="&quot;Avr Speed: &quot; + data.AvrSpeed"
                    style="font-size: 36px; font-weight: bold;">Some text</div>
            </div>
        </div>
    </ion-content>
</ion-view>